
.letter-row {
    display: flex;
    justify-content: center;
}


.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.button-row {
    display: flex;
    justify-content: center;
}


.enter-button {
    border: 2px solid gray;
    background-color: LawnGreen;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: left;
    cursor: pointer;
}

.enter-button:hover {
    background-color: greenyellow;
}